<launch>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ompl_planner_base)/launch/rviz_launch/move_base.vcg">
  </node>
  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
    <remap from="voxel_grid" to="move_base_node/local_costmap/voxel_grid_throttled"/>
  </node>
</launch>
