<launch>
  <!-- machine tags for sim, be sure to set environment variable ROBOT to sim -->
  <include file="$(find pr2_machine)/sim.machine" />
  <include file="$(find pr2_2dnav_gazebo)/config/fake_localization.launch" />
  <include file="$(find pr2_navigation_teleop)/teleop.xml" />
  <include file="$(find pr2_navigation_perception)/lasers_and_filters.xml" />
  <!--include file="$(find 2dnav_pr2)/config/map_server.launch" /-->
  <include file="$(find pr2_navigation_perception)/ground_plane.xml" />
  <!-- The navigation stack and associated parameters -->
  <!-- <include file="$(find pr2_navigation_global)/move_base.xml" /> -->

  <!-- choose adapted move_base to load elastic band plugin for local planner -->
  <include file="$(find eband_local_planner)/launch/gazebo_launch/move_base.xml" />
</launch>
