<launch>

  <!-- start up wg world -->
  <include file="$(find gazebo_worlds)/launch/wg_world.launch"/>

  <!-- start up robot -->
  <include file="$(find pr2_gazebo)/pr2_no_arms.launch"/>

  <!-- load a custom map designed for simulation -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find gazebo_worlds)/Media/materials/textures/willowMap.png 0.1" respawn="true" />

  <!-- start up the navigation-stack with ompl planner plugin-->
  <include file="$(find eband_local_planner)/launch/gazebo_launch/2dnav_stack_fake_loc_planner_prm.launch"/>

</launch>

