<launch>
  <node pkg="semantic_point_annotator" type="sac_inc_ground_removal_node" name="sac_ground_removal"  >
  <remap from="tilt_laser_cloud_filtered" to="tilt_scan_filtered" />
  <remap from="cloud_ground_filtered" to="ground_object_cloud" />
  <param name="z_threshold" value="0.15" />
  <param name="sac_min_points_per_model" value="40" />
  <param name="sac_distance_threshold" value="0.05" />
  <param name="planar_refine" value="1" />
</node>

<node pkg="cart_state_estimator" type="scan_to_cloud_filter_chain" respawn="false" name="ipf" output="screen" >
  <remap from="scan" to="base_scan" />
  <remap from="cloud_filtered" to="ipf" />
  <remap from="cloud" to="ground_object_cloud" />
  <param name="target_frame" value="/odom_combined" />
  <param name="use_cloud_input" value="true" />
  <rosparam>
    cloud_filter_chain:
    - type: isolated_point_filter/IsolatedPointFilter
      name: isolated_point_filter
      params:
        frame: base_footprint
        resolution: 0.025
        x_min: -5.0
        x_max: 10.0
        y_min: -10.0
        y_max: 10.0
        inner_radius: 0
        outer_radius: 2
        negate: 0
        z_max: 1.0
  </rosparam>
</node>
</launch>