<launch>
  <node type="teleop_gripper" pkg="pr2_teleop" name="teleop_gripper_right" output="screen">
    <param name="open_button" type="int" value="13" />
    <param name="close_button" type="int" value="15" />
    <remap from="command" to="r_gripper_controller/command" />
  </node>

  <node type="teleop_gripper" pkg="pr2_teleop" name="teleop_gripper_left" output="screen">
    <param name="open_button" type="int" value="5" />
    <param name="close_button" type="int" value="7" />
    <remap from="command" to="l_gripper_controller/command" />
  </node>

  <node pkg="pr2_teleop" type="teleop_pr2" name="pr2_teleop" output="screen">
    <remap from="cmd_vel" to="teleop/command" />
    <rosparam file="$(find pr2_teleop)/config/teleop.yaml" command="load" />
  </node>

  <node pkg="assisted_teleop" name="assisted_teleop" type="assisted_teleop" respawn="false" output="screen">
    <rosparam file="$(find assisted_teleop)/launch/assisted_teleop.yaml" command="load" />
    <remap from="teleop_cmd_vel" to="teleop/command" />
    <remap from="cmd_vel" to="base_controller/command" />
  </node>
</launch>
